@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.form {
  --inputsize: 48px;
  --labelbefore: var(--text);
  --labelafter: var(--text);
  --borderbefore: var(--black);
  --borderafter: var(--secondary);
  --labelfontbefore: 16px;
  --labelfontafter: 14px;
  --font: 500;
  --inputsize: 42px;
  --color: var(--black);
  --borderwidth: 1px;
  --labelbackground: none;
  --font: normal;
  --textareaheight: 86px;
  --paddingleftright: 0px;
}
.form .form-group {
  position: relative;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  --selectheight: var(--inputsize);
  line-height: 0;
}
.form .form-group.active::after {
  width: 100%;
}
.form .form-group::before, .form .form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--borderwidth);
  transition: 0.5s ease;
}
.form .form-group::before {
  background: var(--borderbefore);
}
.form .form-group::after {
  width: 0;
  background: var(--borderafter);
}
.form .form-group label {
  font-weight: var(--font);
  position: absolute;
  top: calc(var(--inputsize) / 2 - var(--labelfontbefore) / 2);
  left: var(--paddingleftright);
  color: var(--labelbefore);
  line-height: 1;
  font-size: var(--labelfontbefore);
  background: none;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.form .form-group input, .form .form-group textarea {
  height: calc(var(--inputsize) - var(--borderwidth));
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  cursor: initial;
  padding: 0 var(--paddingleftright);
}
.form .form-group input:focus, .form .form-group input.valid, .form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
}
.form .form-group input:focus ~ label, .form .form-group input.valid ~ label, .form .form-group textarea:focus ~ label, .form .form-group textarea.valid ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -2);
}
.form .form-group textarea {
  height: var(--textareaheight);
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  line-height: 1.2;
  cursor: initial;
  padding: 0 var(--paddingleftright);
  padding-right: 15px;
}
.form .form-group textarea::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.form .form-group textarea::-webkit-scrollbar-track {
  box-shadow: none;
}
.form .form-group textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
}
.form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
  margin-top: 13px;
  height: calc(var(--textareaheight) - 13px);
}
.form .form-group select:focus {
  outline: none;
}
.form .form-group select ~ label {
  position: absolute;
  top: calc(var(--labelfontafter) / -2);
  left: var(--paddingleftright);
  color: var(--labelafter);
  translate: 0 0;
  font-size: var(--labelfontafter);
  opacity: 0;
  transition: 0.6s ease;
}
.form .form-group select.valid {
  color: var(--color);
}
.form .form-group select.valid ~ label {
  opacity: 1;
}
.form .form-group.file-input input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}
.form .form-group.file-input .file-name {
  pointer-events: none;
  height: calc(var(--inputsize) - var(--borderwidth));
  position: relative;
  --filename: "Attach Resume*";
  --filenameinitial: var(--filename);
  --color: var(--text);
  --background: none;
  --image: url(/assets/icon/clip-gray.svg) no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: calc(var(--inputsize) - var(--borderwidth));
}
.form .form-group.file-input .file-name::before, .form .form-group.file-input .file-name::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.form .form-group.file-input .file-name::before {
  content: var(--filenameinitial);
  z-index: 2;
  font-family: inherit;
  font-size: inherit;
  line-height: calc(var(--inputsize) - var(--borderwidth));
  padding-left: var(--paddingleftright);
  color: var(--color);
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
}
.form .form-group.file-input .file-name::after {
  content: "";
  right: 0;
  background: var(--image);
  background-repeat: no-repeat;
  z-index: 1;
  background-position: calc(100% - var(--paddingleftright, 0)) 50%;
  background-size: auto 50%;
}
.form .submit-grp:not(.text-left) {
  text-align: center;
  margin-top: 23px;
}

.custom-select {
  max-width: 100%;
  cursor: pointer;
  display: block;
  font-family: inherit;
  height: var(--selectheight);
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding: 0 var(--paddingleftright);
  --arrow: 15px;
  --arrowspace: 8px;
  --paddingleftright: 0;
}
.custom-select.has-icon {
  --iconsize: 12px;
  --iconurl: url(/assets/icon/location-gradient.svg);
  --iconspace: 8px;
}
.custom-select.has-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.custom-select.has-icon::after {
  left: 0;
  width: var(--iconsize);
  background-image: var(--iconurl);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
}
.custom-select.has-icon .current {
  padding-left: calc(var(--iconsize) + var(--iconspace));
  padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace));
}
.custom-select::before {
  content: "";
  position: absolute;
  top: 0;
  right: var(--paddingleftright);
  bottom: 0;
  width: var(--arrow);
  background-image: url(/assets/icon/arrow-down-gray.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.custom-select .current {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--inputsize);
  color: var(--labelbefore);
  font-size: var(--labelfontbefore);
  font-weight: var(--font);
  padding-right: calc(var(--arrow) + var(--arrowspace));
}
.custom-select .current.selected {
  color: var(--color);
}
.custom-select .list {
  text-align: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform-origin: 50% 0;
  z-index: 7;
  max-height: 180px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: none;
}
.custom-select .list::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.custom-select .list::-webkit-scrollbar-track {
  box-shadow: none;
}
.custom-select .list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}
.custom-select .list li {
  display: block;
  line-height: 1.2;
  padding: 8px 16px;
  white-space: break-spaces;
  font-size: 14px;
}
.custom-select .list li.selected {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li.selected:hover {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li:hover {
  background: #e2e2e2;
}
.custom-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.filter-ul li {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.filter-ul li:has(input:checked) .check-span {
  background: var(--primary);
}
.filter-ul li:has(input:checked) .check-span::before {
  opacity: 1;
}
.filter-ul li input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.filter-ul li .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 20px;
  height: var(--size);
  width: var(--size);
  position: relative;
  padding: 0;
  border-radius: 5px;
  background: #D9D9D9;
  pointer-events: none;
}
.filter-ul li .check-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(/assets/icon/tick-white.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 10px auto;
  opacity: 0;
}
.filter-ul li p {
  padding-left: 14px;
}
.filter-ul li:not(:last-child) {
  margin-bottom: 10px;
}
.filter-ul li p {
  font-size: 14px;
  color: var(--text);
}

.checkbox-full {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.checkbox-full:has(input:checked) .check-span {
  background: var(--primary);
}
.checkbox-full:has(input:checked) .check-span::before {
  opacity: 1;
}
.checkbox-full input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.checkbox-full .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 20px;
  height: var(--size);
  width: var(--size);
  position: relative;
  padding: 0;
  border-radius: 5px;
  background: #D9D9D9;
  pointer-events: none;
}
.checkbox-full .check-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(/assets/icon/tick-white.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 10px auto;
  opacity: 0;
}
.checkbox-full p {
  padding-left: 14px;
}

.radio-full {
  position: relative;
  --size: 20px;
  display: flex;
  line-height: normal;
  align-items: center;
}
.radio-full:has(input:checked) .check-span {
  background: var(--primary);
  outline-offset: -4px;
  outline: 2px solid var(--white);
  background: var(--primary);
}
.radio-full input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.radio-full .check-span {
  flex: 0 1 auto;
  display: block;
  --size: 17px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  border: 1px solid var(--primary);
  border-radius: 50%;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  background: transparent;
}
.radio-full p {
  padding-left: 14px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --headerpadding: 12px;
  --headerheight: 90px;
  --headerfixed: 70px;
  --mobilesearchbar: 45px;
  --footerstrip: 38px;
  --filterstrip: 42px;
  --elementhover: #000;
  --primary: #fff;
  --colortext: #000;
  --red: #FF2323;
  --green: #13BB75;
  --sucgreen: #008000;
  --blue: #2773E5;
  --text: #666666;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #EFEFEF;
  --container: 1280px;
  --containerfluid: 10px;
  --gradient-a: linear-gradient(90deg, #FFFFFF 40%, #EFEFEF);
  --gradient-b: linear-gradient(90deg, #EFEFEF 30%, #FFFFFF);
}
@media only screen and (max-width: 991px) {
  :root {
    --headerheight: 100px;
    --headerfixed: 80px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --headerheight: 80px;
    --headerfixed: 60px;
  }
}
@media only screen and (max-width: 540px) {
  :root {
    --headerheight: 70px;
    --headerfixed: 60px;
  }
}

.gray-bg {
  background-color: #EFEFEF;
}

.sec-head {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .sec-head {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .sec-head {
    font-size: 16px;
    line-height: 1.5;
  }
}

.sec-heading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.sec-pad {
  padding: 70px 0;
}
@media only screen and (max-width: 768px) {
  .sec-pad {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 540px) {
  .sec-pad {
    padding: 40px 0;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  background: var(--black);
}
body::-webkit-scrollbar-track {
  box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
@media only screen and (max-width: 540px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}
body.overflow-hidden {
  overflow: hidden;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden {
    margin-right: 0;
  }
}
body.overflow-hidden header {
  width: calc(100% - 8px);
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden header {
    width: 100%;
  }
}

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

a[href] {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
a[href].logo {
  display: block;
  line-height: 0;
}
a[href]:not(.btn, .btn2) {
  color: #fff;
}

svg path {
  transition: 0.5s ease;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container.container2 .heading {
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container.container2 .heading {
    padding-right: 10px;
  }
}

.container-fluid {
  padding: 0 var(--containerfluid);
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Le Jeune Deck";
}

h1 {
  font-size: 48px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.05;
  text-transform: uppercase;
}

h3 {
  font-size: 36px;
  line-height: 1.06;
  text-transform: capitalize;
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 28px;
  line-height: 1.282;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.heading.h-large h3, .heading.h-large h2 {
  font-size: 36px;
}
.heading.c-white h3, .heading.c-white h2 {
  color: var(--white);
}
.heading > p {
  margin-top: 10px;
}

.head {
  font-family: "Le Jeune Deck";
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .head {
    font-size: 70px;
  }
}
@media only screen and (max-width: 991px) {
  .head {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .head {
    font-size: 40px;
  }
}

h4 {
  font-size: 36px;
  line-height: 1.28;
}

h5 {
  font-size: 24px;
  line-height: 1.25;
}
@media only screen and (max-width: 1152px) {
  h5 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 675px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.span-2 {
  grid-column: span(2);
}

.inline-flex {
  --gap: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0 var(--gap);
}

img {
  max-width: 100%;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  border-radius: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

video {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.tab-nav {
  cursor: default;
}
.tab-nav [data-tab] {
  cursor: pointer;
  caret-color: transparent;
}

.tab-nav-content {
  position: relative;
}
.tab-nav-content .tabs:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.item-md {
  position: relative;
  position: relative;
}
.item-md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.item-md::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.item-md::before, .item-md::after {
  z-index: 1;
}
.item-md figure, .item-md .figure {
  display: block;
  overflow: hidden;
  line-height: 0;
  height: 100%;
}
.item-md figure img, .item-md figure video, .item-md .figure img, .item-md .figure video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.item-md figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.item-md .link-md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.item-md.center-item figcaption {
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.testimony_col::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.6) 88%);
}
.testimony_col figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
  bottom: 3%;
  translate: 0 3%;
}
.testimony_col figcaption .content h6, .testimony_col figcaption .content p {
  color: var(--white);
}
.testimony_col figcaption .content h6 {
  font-size: 24px;
}
.testimony_col figcaption .content p {
  font-size: 14px;
}
.testimony_col figcaption .play-btn {
  --btnsize: 40px;
}

.product_col {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  position: relative;
}
.product_col:hover figure img {
  transform: scale(1);
}
.product_col:hover .hoverItem {
  transform: translateY(0);
}
.product_col figure {
  height: 500px;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.product_col figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(0.9);
}
.product_col figcaption {
  overflow: hidden;
  padding: 0 20px 30px;
}
.product_col figcaption h6 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 0 20px 5px;
}
.product_col figcaption p {
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px 0px;
}
.product_col .wislist {
  position: absolute;
  top: 3%;
  right: 5%;
  transform: translate(5%, -3%);
}
.product_col .hoverItem {
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.product_col .hoverItem a, .product_col .hoverItem button {
  flex: 1;
  text-align: center;
  padding: 15px 10px;
  line-height: 1.2;
}
.product_col .hoverItem .enquireBtn {
  background: var(--black);
  color: var(--white);
}
.product_col .hoverItem .viewDetails {
  background: var(--gray);
  color: var(--black);
}

.category_col::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.6) 88%);
}
.category_col:hover figure img {
  transform: scale(1.2);
  opacity: 0;
}
.category_col:hover figcaption h6, .category_col:hover figcaption p {
  opacity: 0;
}
.category_col:hover figcaption .btn_wrapper {
  transform: translateY(0);
}
.category_col figure {
  position: relative;
}
.category_col figure video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.category_col figure img {
  transition: 1s ease;
  transform-origin: top left;
}
.category_col figcaption {
  text-align: center;
  padding: 0 10px 20px;
  bottom: 5%;
  translate: 0 5%;
}
.category_col figcaption h6, .category_col figcaption p {
  color: var(--white);
  transition: 0.6s ease;
}
.category_col figcaption h6 {
  font-size: 24px;
}
.category_col figcaption p {
  font-size: 14px;
}
.category_col figcaption .btn_wrapper {
  transition: 1s ease;
  transform: translateY(7vw);
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: 0s ease 0.5s, opacity 0.5s ease;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .overlay {
    z-index: 2;
  }
}
@media only screen and (max-width: 675px) {
  .overlay {
    display: none;
  }
}
.overlay.is-open {
  transition: opacity 1s ease;
  opacity: 1;
  transform: translateY(0%);
}

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 7;
  background: var(--white);
  background-position: 0% 80%;
  background-size: 75%;
  max-width: 435px;
  width: 100%;
}
.model .close:not(.btn) {
  position: absolute;
  top: 0;
  right: 0;
  top: 40px;
  right: 40px;
}
@media only screen and (max-width: 520px) {
  .model .close:not(.btn) {
    top: 20px;
    right: 20px;
  }
}
.model .close:not(.btn) path {
  stroke: var(--black);
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}

.btn {
  --padding: 10px;
  --height: 36px;
  height: var(--height);
  line-height: var(--height);
  text-transform: uppercase;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 10px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--white);
  padding: 0 var(--padding);
  transition: 0.5s ease;
  border-bottom: 1px solid var(--white);
  position: relative;
}
.btn::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--white);
  height: 0;
  transition: 0.3s ease;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .btn {
    height: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .btn {
    height: 26px;
    font-size: 12px;
    --padding: 14px;
  }
}
.btn:hover {
  color: var(--black);
}
.btn:hover::before {
  height: 100%;
}
.btn:hover path {
  fill: var(--primary);
}
.btn.btn-large, .btn.btn-medium {
  font-size: 16px;
  letter-spacing: 0px;
}
.btn.w-100 {
  width: 100%;
}
.btn.btn-large {
  --height: 52px;
  --padding: 38px;
}
.btn.btn-medium {
  --height: 45px;
  --padding: 25px;
}
.btn.btn-grad {
  background: linear-gradient(90deg, #FFFFFF, #B9B9B9);
}
.btn.btn-grad:hover {
  background: linear-gradient(270deg, #FFFFFF, #ffffff);
  color: #000;
}
.btn.white {
  border-color: var(--white);
  background: var(--white);
  color: var(--black);
}
.btn.white path {
  fill: var(--black);
}
.btn.white:hover {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--white);
}
.btn.white:hover path {
  fill: var(--white);
}
.btn.primary-border {
  background: none;
  border: 1px solid #D1D1D1;
  color: var(--primary);
}
.btn.primary-border path {
  fill: var(--primary);
}
.btn.primary-border:hover {
  background: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}
.btn.primary-border:hover path {
  fill: var(--white);
}

.btn2 {
  --padding: 18px;
  --height: 36px;
  justify-content: center;
  font-weight: 500;
  gap: 10px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  padding: 0 var(--padding);
}
.btn2:hover {
  background: var(--white);
  border: 1px solid var(--primary);
  color: var(--black);
}
.btn2:hover path {
  fill: var(--black);
}

.form-grid {
  --item: 1;
  --gaplr: 30px;
  --gaptb: 32px;
  display: grid;
  grid-template-columns: repeat(var(--item), calc((100% - var(--gaplr) * (var(--item) - 1)) / var(--item)));
  gap: var(--gaptb) var(--gaplr);
}
.form-grid .full {
  grid-column: span var(--item);
}

.banner {
  position: relative;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.banner::before {
  z-index: 1;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.6) 88%);
}
.banner .bg {
  height: 650px;
  line-height: 0;
}
@media only screen and (max-width: 1366px) {
  .banner .bg {
    height: calc(100vh - var(--headerheight));
  }
}
.banner .bg video, .banner .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  z-index: 2;
}
.banner .banner-wrapper h1 {
  font-family: "Le Jeune Deck";
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.28;
  letter-spacing: 0.15em;
  color: var(--white);
}
.banner .banner-wrapper .content p {
  color: var(--white);
  font-size: 20px;
  line-height: 1.23;
  margin-top: 4px;
}

.banner-banner .content h1 {
  font-family: "Le Jeune Deck";
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.banner-banner .content p {
  margin-top: 18px;
  color: var(--text);
}

.swiper-slide {
  height: auto;
}

.swiper-nav {
  line-height: 0;
}
.swiper-nav.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper-nav.center-full .swiper-prev, .swiper-nav.center-full .swiper-next {
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.swiper-nav.group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 15px;
}
@media only screen and (max-width: 1152px) {
  .swiper-nav.group {
    gap: 0 8px;
  }
}
.swiper-nav.icon-width-auto .swiper-next svg, .swiper-nav.icon-width-auto .swiper-prev svg {
  width: auto;
  height: auto;
}

.swiper-prev.swiper-button-disabled, .swiper-next.swiper-button-disabled {
  cursor: no-drop;
  opacity: 0.4;
}
.swiper-prev.swiper-button-lock, .swiper-next.swiper-button-lock {
  display: none !important;
}

.play-btn {
  --btnsize: 56px;
  --border: 2px;
  --bordercolor: var(--white);
  --playbtncolor: var(--white);
  height: var(--btnsize);
  width: var(--btnsize);
  border-radius: 50%;
  border: var(--border) solid var(--bordercolor);
  position: relative;
  background: none;
}
@media only screen and (max-width: 1024px) {
  .play-btn {
    --btnsize: 50px;
  }
}
@media only screen and (max-width: 675px) {
  .play-btn {
    --btnsize: 45px;
    --border: 1px;
  }
}
.play-btn::before {
  width: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: "";
  transform: translateX(-50%) translateY(-50%);
  background: var(--bordercolor);
  border-radius: 50%;
  display: block;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  border-top: calc(var(--btnsize) / 8) solid transparent;
  border-bottom: calc(var(--btnsize) / 8) solid transparent;
  border-left: calc(var(--btnsize) / 5.6) solid var(--playbtncolor);
}

.website-content > :first-child {
  margin-top: 0 !important;
}
.website-content > :last-child {
  margin-bottom: 0 !important;
}
.website-content h1, .website-content h2, .website-content h3, .website-content h4, .website-content h5, .website-content h6 {
  color: var(--black);
}
.website-content h1 {
  font-size: 48px;
  margin-bottom: 45px;
  font-family: "Le Jeune Deck";
  text-align: center;
}
@media only screen and (max-width: 675px) {
  .website-content h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 520px) {
  .website-content h1 {
    font-size: 30px;
  }
}
.website-content h2 {
  font-size: 34px;
}
@media only screen and (max-width: 675px) {
  .website-content h2 {
    font-size: 24px;
  }
}
.website-content h3 {
  font-size: 28px;
  line-height: 1.21;
}
@media only screen and (max-width: 675px) {
  .website-content h3 {
    font-size: 22px;
  }
}
.website-content h4 {
  font-size: 22px;
}
@media only screen and (max-width: 675px) {
  .website-content h4 {
    font-size: 20px;
  }
}
.website-content h5 {
  font-size: 18px;
}
@media only screen and (max-width: 675px) {
  .website-content h5 {
    font-size: 18px;
  }
}
.website-content h6 {
  font-size: 18px;
}
.website-content h2, .website-content h3, .website-content h4 {
  margin: 40px 0 18px;
}
.website-content h5, .website-content h6 {
  margin: 28px 0 18px;
}
.website-content p, .website-content li {
  color: var(--text);
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -0.07em;
}
.website-content p b, .website-content li b {
  font-weight: normal;
}
.website-content a {
  color: var(--primary) !important;
}
.website-content a:hover {
  text-decoration: underline;
}
.website-content p, .website-content ul {
  margin-bottom: 20px;
}
.website-content ul {
  padding-left: 18px;
}
@media only screen and (max-width: 675px) {
  .website-content ul {
    padding-left: 10px;
  }
}
.website-content ul li {
  position: relative;
  padding-left: 28px;
}
@media only screen and (max-width: 675px) {
  .website-content ul li {
    padding-left: 20px;
  }
}
.website-content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.website-content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
}

.container-fluid.slider-section .upper-sec .slider-nav {
  right: 3%;
  transform: translate(3%, -50%);
}

@media only screen and (max-width: 675px) {
  .slider-section .container {
    padding-right: 0;
  }
}
.slider-section .upper-sec {
  position: relative;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .slider-section .upper-sec {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 540px) {
  .slider-section .upper-sec {
    margin-bottom: 2.5rem;
  }
}
.slider-section .upper-sec .slider-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .slider-section .upper-sec .slider-nav {
    display: none;
  }
}
.slider-section .upper-sec .slider-nav .swiper-prev svg, .slider-section .upper-sec .slider-nav .swiper-prev img {
  transform: scaleX(-1);
}
.slider-section .upper-sec .heading {
  text-align: center;
}

.lctn {
  font-size: 14px;
  line-height: 1;
  color: var(--text);
  --arrow: 20px;
  --space: 5px;
  position: relative;
  padding-left: calc(var(--arrow) + var(--space));
}
.lctn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  height: var(--arrow);
  width: var(--arrow);
  background-image: url(/assets/icon/location-gradient.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  transition: 0.5s ease;
  transform-origin: center right;
}
.lctn.clndr {
  color: var(--white);
  --arrow: 17px;
  --space: 12px;
}
.lctn.clndr::before {
  background-image: url(/assets/icon/calender.svg);
}

.common-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 20px;
}
@media only screen and (max-width: 991px) {
  .common-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 18px;
  }
}
@media only screen and (max-width: 675px) {
  .common-grid {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}

.product-col {
  position: relative;
  position: relative;
}
.product-col::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.product-col:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.product-col .figure, .product-col figure {
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.product-col .figure .add-to, .product-col figure .add-to {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  opacity: 0;
  transition: 0.5s ease;
}
.product-col .figure .add-to a, .product-col figure .add-to a {
  display: block;
  padding: 11px 20px;
  transition: 0.5s ease;
}
.product-col .figure .add-to a svg, .product-col figure .add-to a svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.product-col .figure .add-to a.add2cart, .product-col figure .add-to a.add2cart {
  background-color: #13195F;
}
.product-col .figure .add-to a.add2cart:hover, .product-col figure .add-to a.add2cart:hover {
  background-color: #fff;
}
.product-col .figure .add-to a.add2cart:hover svg path, .product-col figure .add-to a.add2cart:hover svg path {
  fill: var(--primary);
}
.product-col .figure .add-to a.add2wish, .product-col figure .add-to a.add2wish {
  background-color: #030735;
}
.product-col .figure .add-to a.add2wish.active, .product-col figure .add-to a.add2wish.active {
  background-color: #fff;
}
.product-col .figure .add-to a.add2wish.active svg path, .product-col figure .add-to a.add2wish.active svg path {
  fill: var(--primary);
}
.product-col .figure .add-to a.add2wish:hover, .product-col figure .add-to a.add2wish:hover {
  background-color: #fff;
}
.product-col .figure .add-to a.add2wish:hover svg path, .product-col figure .add-to a.add2wish:hover svg path {
  stroke: var(--primary);
}
.product-col .figure img, .product-col figure img {
  width: 100%;
  -o-object-position: cover;
     object-position: cover;
  -o-object-position: top;
     object-position: top;
  transition: 0.5s ease;
  transform-origin: left top;
}
.product-col figcaption {
  text-align: center;
  padding: 18px 20px 0;
  max-width: 305px;
  margin: 0 auto;
}
.product-col figcaption .pro_name {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding-bottom: 10px;
}
.product-col figcaption .price {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #666666;
}
.product-col figcaption .color-select-wrap {
  padding-bottom: 10px;
}
.product-col figcaption .color-select-wrap li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.product-col figcaption .color-select-wrap li:not(:last-child) {
  margin-right: 15px;
}
.product-col figcaption .color-select-wrap li:has(input:checked) span::before {
  opacity: 1;
}
.product-col figcaption .color-select-wrap li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
}
.product-col figcaption .color-select-wrap li span::before {
  content: "";
  position: absolute;
  left: -3px;
  bottom: -3px;
  width: 26px;
  height: 26px;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: 0;
}
.product-col figcaption .color-select-wrap li input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}
.product-col figcaption .color-select-wrap li input:checked ~ span::before {
  opacity: 1;
}
.product-col:hover .add-to {
  opacity: 1;
}
.product-col:hover .figure img, .product-col:hover figure img {
  transform: scale(1.1);
}

.product-col .wishlist-ico, .product-col-2 .wishlist-ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.product-col .wishlist-ico img, .product-col .wishlist-ico svg, .product-col-2 .wishlist-ico img, .product-col-2 .wishlist-ico svg {
  width: 15px;
  height: auto;
}
.product-col .wishlist-ico:hover, .product-col .wishlist-ico.is-active, .product-col-2 .wishlist-ico:hover, .product-col-2 .wishlist-ico.is-active {
  background: var(--primary);
}
.product-col .wishlist-ico:hover img, .product-col .wishlist-ico.is-active img, .product-col-2 .wishlist-ico:hover img, .product-col-2 .wishlist-ico.is-active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(236deg) brightness(103%) contrast(101%);
}
.product-col:hover .wishlist-ico, .product-col-2:hover .wishlist-ico {
  opacity: 1;
  pointer-events: all;
}

.product-col-2, .product-col-3 {
  position: relative;
  position: relative;
}
.product-col-2::before, .product-col-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.product-col-2 .figure, .product-col-2 figure, .product-col-3 .figure, .product-col-3 figure {
  display: block;
  line-height: 0;
  height: 100%;
  overflow: hidden;
}
.product-col-2 .figure img, .product-col-2 figure img, .product-col-3 .figure img, .product-col-3 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transform-origin: left top;
  transition: 0.5s ease;
}
.product-col-2::before, .product-col-3::before {
  z-index: 1;
}
.product-col-2:hover .figure img, .product-col-2:hover figure img, .product-col-3:hover .figure img, .product-col-3:hover figure img {
  transform: scale(1.1);
}
.product-col-2 figcaption, .product-col-3 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.product-col-2::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.product-col-2 figcaption {
  text-align: center;
  padding: 0 2rem 46px;
}
.product-col-2 figcaption .prdt-nm, .product-col-2 figcaption .prd-price {
  display: block;
  display: block;
  color: var(--white);
  font-size: 18px;
}
.product-col-2 figcaption .prdt-nm {
  margin-bottom: 8px;
}

.product-col-3::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
}
.product-col-3:hover .figure img, .product-col-3:hover figure img {
  transform: scale(1.05);
}
.product-col-3 figure img, .product-col-3 .figure img {
  aspect-ratio: 0.9;
}
.product-col-3 figcaption {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 3.5rem;
  transition: 0.5s ease;
  --btnheight: 36px;
  --titlepad: 30px;
}
.product-col-3 figcaption .ico {
  line-height: 0;
  margin-bottom: 20px;
  transform: translateY(30px) scale(0.4);
  transition: 0.5s ease;
  opacity: 0;
}
.product-col-3 figcaption h6 {
  font-family: "Le Jeune Deck";
  color: var(--white);
  font-size: 22px;
  line-height: 1.283;
  text-transform: uppercase;
  transition: 0.6s ease;
}
.product-col-3 .xbjs {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: 0.6s ease;
}
.product-col-3 .xbjs .btn {
  --height: var(--btnheight);
}
.product-col-3:hover {
  transform: translateY(0px);
}
.product-col-3:hover figcaption .ico {
  transform: translateY(0px) scale(1);
  opacity: 1;
}
.product-col-3:hover figcaption h6 {
  padding-bottom: calc(var(--btnheight) + var(--titlepad));
}
.product-col-3:hover figcaption .xbjs {
  opacity: 1;
  transform: translateY(0px) scale(1);
}

.gray-bg {
  background: var(--gray);
}

.gradient-head {
  display: inline-block;
  text-transform: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--gradient-a);
}

.whitetxt {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-radius: 50%;
  background: var(--primary);
  border-color: var(--primary);
  height: 17px;
  width: 17px;
  border: none !important;
  top: 50%;
  translate: 0 -50%;
}
.ui-state-default:focus, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus, .ui-button:focus, html .ui-button.ui-state-disabled:hover:focus, html .ui-button.ui-state-disabled:active:focus {
  outline: none;
}

.ui-slider-horizontal {
  height: 2px;
  border: none !important;
}

.ui-widget-content {
  background: #CECECE;
  border: none !important;
}

.ui-widget-header {
  background: var(--primary);
}

.kmr-select-wrap {
  position: relative;
  display: inline-block;
  --labelheight: 45px;
  --liheight: 34px;
  --boxsize: calc(var(--liheight) - 14px);
  --arrowsize: 16px;
  --space: 11px;
}
.kmr-select-wrap .label {
  color: var(--white);
  height: var(--labelheight);
  line-height: var(--labelheight);
  background-image: url(/assets/icon/arrow-down-white.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  background-size: var(--arrowsize) auto;
  padding-right: calc(var(--arrowsize) + var(--space));
  cursor: pointer;
  caret-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.kmr-select-wrap.active {
  --btn: 10px;
}
.kmr-select-wrap.active.price_select .kmr-select-menu .upper-sec .reset-btn {
  display: block;
}
.kmr-select-wrap.slt-rgt .kmr-select-menu {
  right: 0;
  left: auto;
}
.kmr-select-wrap.color-select .kmr-select-menu li .in-bx {
  border-color: #ccc;
  border-radius: 50%;
}
.kmr-select-wrap.price_select .kmr-select-menu {
  padding: 20px;
  width: 325px;
}
.kmr-select-wrap.price_select .kmr-select-menu .upper-sec {
  display: flex;
}
.kmr-select-wrap.price_select .kmr-select-menu .upper-sec .reset-btn {
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.kmr-select-wrap.price_select .kmr-select-menu .upper-sec .reset-btn svg {
  width: 15px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
.kmr-select-wrap.price_select .kmr-select-menu h6 {
  flex: 1;
  font-size: 14px;
  color: var(--primary);
  font-weight: 500;
}
.kmr-select-wrap.price_select .product-range-slider-wrap {
  margin: 30px 0 40px;
}
.kmr-select-wrap.price_select .price-range-input-wrap {
  display: flex;
  gap: 18px;
  align-items: center;
  color: var(--text);
}
.kmr-select-wrap.price_select .price-range-input-wrap .price-range-input {
  flex: 1;
  border: 1px solid #E0E0E0;
  background: var(--white);
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  color: var(--text);
  gap: 10px;
}
.kmr-select-wrap.price_select .price-range-input-wrap .price-range-input input {
  border: none;
  width: 100%;
  color: var(--text);
}
.kmr-select-wrap.price_select .price-range-input-wrap .price-range-input input:focus {
  outline: none;
}
.kmr-select-wrap .kmr-select-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  background: var(--white);
  width: 260px;
  padding: 20px 0;
  display: none;
  max-height: 244px;
  overflow-y: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.kmr-select-wrap .kmr-select-menu::-webkit-scrollbar {
  width: 6px;
  background: none;
  height: 6px;
}
.kmr-select-wrap .kmr-select-menu::-webkit-scrollbar-track {
  box-shadow: none;
}
.kmr-select-wrap .kmr-select-menu::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 10px;
}
.kmr-select-wrap .kmr-select-menu:has(input[type=radio]) li .in-bx {
  border-radius: 50%;
}
.kmr-select-wrap .kmr-select-menu:has(input[type=radio]) li .in-bx::before {
  display: none;
}
.kmr-select-wrap .kmr-select-menu:has(input[type=radio]):has(input:checked) li .in-bx {
  outline: 5px solid var(--white);
  outline-offset: -10px;
}
.kmr-select-wrap .kmr-select-menu li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  height: var(--liheight);
  padding: 0 14px;
}
.kmr-select-wrap .kmr-select-menu li:has(input:checked) .in-bx {
  background: var(--primary);
  transition: 0.4s ease;
}
.kmr-select-wrap .kmr-select-menu li:has(input:checked) .in-bx::before {
  opacity: 1;
}
.kmr-select-wrap .kmr-select-menu li .in-bx {
  height: var(--boxsize);
  width: var(--boxsize);
  border: 1px solid var(--black);
  border-radius: 3px;
  transition: 0s ease;
  position: relative;
}
.kmr-select-wrap .kmr-select-menu li .in-bx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/icon/tick-white.svg);
  transition: 0.5s ease;
}
.kmr-select-wrap .kmr-select-menu li .in-bx::before {
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: center center;
  opacity: 0;
}
.kmr-select-wrap .kmr-select-menu li span {
  display: block;
  flex: 1;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}
.kmr-select-wrap .kmr-select-menu li input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}

@media only screen and (max-width: 991px) {
  .breadcrumps {
    display: none;
  }
}
.breadcrumps li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumps li a {
  color: var(--text);
  font-size: 14px;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li a {
    font-size: 12px;
    text-overflow: ellipsis;
  }
}
.breadcrumps li a.active {
  color: var(--black);
}
.breadcrumps li:not(:last-child) {
  position: relative;
  padding-right: 20px;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li:not(:last-child) {
    padding-right: 8px;
  }
}
.breadcrumps li:not(:last-child)::before {
  content: ">";
  position: absolute;
  left: 100%;
  top: 50%;
  translate: 0 -50%;
  font-size: 12px;
  font-family: monospace;
  color: var(--text);
}
.breadcrumps li:not(:first-child) {
  padding-left: 20px;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li:not(:first-child) {
    padding-left: 8px;
  }
}

[data-scrollTo] {
  cursor: pointer;
}

.fancybox__container {
  --fancybox-bg: var(--black);
}

.green-color {
  color: var(--green) !important;
}

.red-color {
  color: var(--red) !important;
}

.orange-color {
  color: orange !important;
}

em {
  font-style: normal;
}

.mt-hdrfxd {
  margin-top: var(--headerfixed);
}

.mt-hdr {
  margin-top: var(--headerheight);
}

.w-full {
  width: 100%;
}

.disc {
  margin: 15px 0;
  text-align: center;
}
.disc p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--text);
  transition: 0.5s ease;
}
.disc p a {
  color: var(--primary) !important;
  transition: 0.5s ease;
}
.disc p a:hover {
  text-decoration: underline;
}

.check_term {
  margin: 15px 0;
}
.check_term .input_box {
  position: relative;
  display: flex;
  gap: 10px;
  --boxsize: 15px;
  padding-bottom: 10px;
}
.check_term .input_box:has(input:checked) .in-bx {
  background: var(--primary);
  transition: 0.4s ease;
}
.check_term .input_box:has(input:checked) .in-bx::before {
  opacity: 1;
}
.check_term .input_box input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.check_term .input_box .in-bx {
  height: var(--boxsize);
  width: var(--boxsize);
  border: 1px solid var(--black);
  border-radius: 3px;
  transition: 0s ease;
  position: relative;
}
.check_term .input_box .in-bx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  background: url(/assets/icon/tick-white.svg);
  transition: 0.5s ease;
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: center center;
  opacity: 0;
}
.check_term .input_box p {
  flex: 1;
  font-size: 14px;
  line-height: 1;
  color: var(--text);
}

.upper-wrapper {
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}
.upper-wrapper .add_item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.upper-wrapper .add_item img {
  width: 40px;
  height: 40px;
}
.upper-wrapper .add_item .content h6 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.upper-wrapper .add_item .content p {
  font-size: 13px;
}

footer {
  width: 100%;
  padding: 70px 0 50px;
  position: relative;
  overflow: hidden;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("/assets/images/home/footer_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
footer .container {
  position: relative;
  z-index: 2;
}
footer .container .upper-footer, footer .container .lower-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
footer .container .upper-footer .colA, footer .container .upper-footer .colB, footer .container .lower-footer .colA, footer .container .lower-footer .colB {
  width: 100%;
  height: 100%;
  flex: 1;
}
footer .container .upper-footer .colA, footer .container .lower-footer .colA {
  --borderbefore: #FFFFFFB2;
  --labelbefore: #FFFFFFB2;
  --labelafter: var(--white);
  --borderafter: var(--white);
  --color: var(--white);
}
footer .container .upper-footer .colA a, footer .container .lower-footer .colA a {
  display: block;
  width: 320px;
  height: 100%;
}
footer .container .upper-footer .colA a img, footer .container .lower-footer .colA a img {
  height: 100%;
}
footer .container .upper-footer .colA .form-group, footer .container .lower-footer .colA .form-group {
  max-width: 450px;
  margin: 25px 0 30px;
}
footer .container .upper-footer .colA p, footer .container .lower-footer .colA p {
  max-width: 450px;
  color: var(--white);
  font-size: 12px;
}
footer .container .upper-footer .colB, footer .container .lower-footer .colB {
  display: flex;
  justify-content: center;
  gap: 70px;
  color: var(--white);
}
footer .container .upper-footer .colB .list_item h6, footer .container .lower-footer .colB .list_item h6 {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
}
footer .container .upper-footer .colB .list_item ul li, footer .container .lower-footer .colB .list_item ul li {
  padding-bottom: 5px;
}
footer .container .upper-footer .colB .list_item ul li:hover a, footer .container .lower-footer .colB .list_item ul li:hover a {
  color: var(--white);
}
footer .container .upper-footer .colB .list_item ul li a, footer .container .lower-footer .colB .list_item ul li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6980392157);
  display: block;
  transition: 0.5s ease;
}
footer .container .lower-footer {
  padding: 30px 0 40px;
}
footer .container .lower-footer .colC {
  flex: 1;
  display: flex;
  align-items: center;
}
footer .container .lower-footer .colC .social_icons {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
  border-right: 1px solid var(--white);
}
footer .container .lower-footer .colC .social_icons li a {
  display: block;
}
footer .container .lower-footer .colC .contact_no {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
footer .container .lower-footer .colC .contact_no li:first-child {
  border-right: 1px solid var(--white);
  padding-right: 10px;
  padding-left: 0;
}
footer .container .lower-footer .colC .contact_no li {
  padding-left: 10px;
}
footer .container .lower-footer .colD {
  align-items: center;
  gap: 20px;
}
footer .container .lower-footer .colD a, footer .container .lower-footer .colD .corp_login {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border: 1px solid var(--white);
  color: var(--white);
  height: 100%;
  line-height: 1.5;
}
footer .container .lower-footer .colD .corp_login {
  background-color: var(--white);
  color: var(--black);
}
footer .footer_rights {
  padding: 30px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2509803922);
}
footer .footer_rights .flex {
  align-items: center;
  justify-content: space-between;
}
footer .footer_rights .flex p {
  color: var(--white);
  font-size: 14px;
}
footer .footer_rights .flex .add_icon {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 1 auto;
}
footer .footer_rights .flex .add_icon img {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer_rights .flex .add_icon p {
  color: var(--white);
  font-size: 14px;
  width: 100%;
}/*# sourceMappingURL=footer.css.map */