@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.faq-secA {
  padding: 56px 0 158px;
}
@media only screen and (max-width: 991px) {
  .faq-secA {
    padding: 55px 0;
  }
}
@media only screen and (max-width: 768px) {
  .faq-secA {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 540px) {
  .faq-secA {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex {
    flex-direction: column;
    gap: 40px;
  }
}
.faq-secA .flex .colA, .faq-secA .flex .colB {
  position: sticky;
  top: calc(var(--headerfixed) + 20px);
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colA, .faq-secA .flex .colB {
    position: static;
  }
}
.faq-secA .flex .colA {
  flex: 0 1 30%;
  background: #F1F1F1;
  padding: 25px;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colA {
    padding: 20px;
    flex: 0 1 100%;
  }
}
.faq-secA .flex .colA .faq-tab-nav li {
  color: rgba(102, 102, 102, 0.6196078431);
  font-size: 18px;
}
.faq-secA .flex .colA .faq-tab-nav li:not(:last-child) {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1024px) {
  .faq-secA .flex .colA .faq-tab-nav li:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 768px) {
  .faq-secA .flex .colA .faq-tab-nav li:not(:last-child) {
    margin-bottom: 5px;
  }
}
.faq-secA .flex .colA .faq-tab-nav li:hover, .faq-secA .flex .colA .faq-tab-nav li.active {
  color: var(--primary);
}
.faq-secA .flex .colB {
  flex: 1;
  padding-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colB {
    padding-left: 0;
  }
}
.faq-secA .flex .colB .title-tab-faq {
  display: none;
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--black);
}
@media only screen and (max-width: 767px) {
  .faq-secA .flex .colB .title-tab-faq {
    display: block;
  }
}
@media only screen and (max-width: 675px) {
  .faq-secA .flex .colB .title-tab-faq {
    text-align: center;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs {
  transition: 0.5s ease;
}
@media only screen and (max-width: 767px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs {
    position: unset;
    opacity: 1;
    transform: translateY(0px);
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs:not(.active) {
  transform: translateY(20px);
}
@media only screen and (max-width: 767px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs:not(.active) {
    transform: translateY(0px);
    pointer-events: all;
    unicode-range: auto;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col {
  border-bottom: 1px solid #CCCCCC;
  --padlr: 26px;
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col:not(:last-child) {
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col:not(:last-child) {
    margin-bottom: 0;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col.active .title {
  border-color: var(--primary);
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col.active .title h6 {
  color: var(--primary);
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col.active .title .ico {
  rotate: -90deg;
  background-image: url(../../icon/arrow-down-primary.svg);
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col .title {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  padding: 15px var(--padlr);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col .title {
    padding: 10px 0;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col .title h6 {
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  color: var(--text);
  padding-right: 1rem;
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col .title .ico {
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  background-image: url(../../icon/arrow-down-gray.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
  transition: 0.5s ease;
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc {
  padding: 0 var(--padlr) 30px;
}
@media only screen and (max-width: 768px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc {
    padding: 20px 0 10px;
  }
}
@media only screen and (max-width: 540px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc {
    padding: 10px 0;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc > * {
  color: var(--text);
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc p, .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul {
  margin-bottom: 20px;
}
@media only screen and (max-width: 675px) {
  .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc p, .faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul {
    margin-bottom: 15px;
  }
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul {
  padding-left: 30px;
  padding-left: 20px;
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul li {
  list-style: disc;
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul li::marker {
  color: var(--primary);
}
.faq-secA .flex .colB .faq-tab-nav-content .tabs .faq-content .col article .content-desc ul li:not(:last-child) {
  margin-bottom: 5px;
}/*# sourceMappingURL=faq.css.map */