@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.checkout-header {
  padding: 20px 0;
  border-bottom: 1px solid #F1F1F1;
}
.checkout-header .checkout-header-wrapper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .checkout-header .checkout-header-wrapper {
    justify-content: space-between;
  }
}
.checkout-header .checkout-header-wrapper .colB {
  flex: 1;
  padding: 0 3rem;
}
@media only screen and (max-width: 540px) {
  .checkout-header .checkout-header-wrapper .colB {
    display: none;
  }
}
.checkout-header .checkout-header-wrapper .colB ul {
  text-align: center;
  max-width: 514px;
  margin-left: auto;
  margin-right: auto;
}
.checkout-header .checkout-header-wrapper .colB ul li {
  display: inline-block;
  vertical-align: middle;
  background: var(--white);
  position: relative;
}
.checkout-header .checkout-header-wrapper .colB ul li:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 768px) {
  .checkout-header .checkout-header-wrapper .colB ul li:not(:last-child) {
    margin-right: 2rem;
  }
}
.checkout-header .checkout-header-wrapper .colB ul li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: calc(100% + 20px);
  bottom: 15%;
  height: 1px;
  width: 45px;
  border: 1px dashed #ccc;
}
@media only screen and (max-width: 768px) {
  .checkout-header .checkout-header-wrapper .colB ul li:not(:last-child)::before {
    left: calc(100% + 8px);
    width: 21px;
  }
}
.checkout-header .checkout-header-wrapper .colB ul li a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 17.22px;
  letter-spacing: 0.15em;
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  background: var(--white);
}
@media only screen and (max-width: 768px) {
  .checkout-header .checkout-header-wrapper .colB ul li a {
    font-size: 12px;
  }
}
.checkout-header .checkout-header-wrapper .colB ul li a .ico {
  height: 28px;
  width: 28px;
  margin: 0 auto 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECECEC;
}
@media only screen and (max-width: 768px) {
  .checkout-header .checkout-header-wrapper .colB ul li a .ico {
    width: 20px;
    height: 20px;
    margin: 0 auto 10px;
  }
}
.checkout-header .checkout-header-wrapper .colB ul li a.active {
  color: var(--primary);
}
.checkout-header .checkout-header-wrapper .colB ul li a.active .ico {
  background: var(--primary);
}
.checkout-header .checkout-header-wrapper .colC .secure-kaedj {
  color: var(--text);
  font-size: 14px;
  line-height: 17.22px;
  letter-spacing: 0.15em;
}

.check-out-main {
  --container: 964px;
}
.check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln {
  padding: 58px 0 42px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln {
    padding: 40px 0 30px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln {
    padding: 25px 0 30px;
  }
}
.check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colA-flex-hfmcf, .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colB-flex-hfmcf {
  position: sticky;
  top: 20px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colA-flex-hfmcf, .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colB-flex-hfmcf {
    position: static;
  }
}
.check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colA-flex-hfmcf {
  flex: 0 1 65%;
  max-width: 65%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colA-flex-hfmcf {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
.check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colA-flex-hfmcf .rysiv {
  padding-top: 20px;
}
.check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colB-flex-hfmcf {
  flex: 1;
  margin-left: 26px;
  padding-left: 26px;
  border-left: 1px solid #F3F3F3;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colB-flex-hfmcf {
    margin-left: 0;
    padding: 25px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .flex-checkout-cwgln .colB-flex-hfmcf {
    margin-top: 20px;
  }
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln {
  padding: 88px 0 110px;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln {
    padding: 50px 0 60px;
  }
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln {
    padding: 20px 0 40px;
  }
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer {
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer {
    flex-direction: column;
  }
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer .bank-list {
  flex: 1;
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer .bank-list li {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer .nd-hlp {
  color: var(--text);
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer .nd-hlp a {
  color: var(--text);
}
.check-out-main .check-out-secA-zbyqo .btm-check-out-cwgln .flex-btn-fwer .nd-hlp a:hover {
  text-decoration: underline;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
@media only screen and (max-width: 768px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm {
    margin-bottom: 20px;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm .btn-xyxgw {
  flex: 1;
  text-align: right;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm .btn-xyxgw .uayri {
  color: var(--text);
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm .btn-xyxgw .uayri:is(a, button):hover {
  color: var(--primary);
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .upper-sshjm .btn-xyxgw .uayri:not(:last-child) {
  border-right: 1px solid #D1D1D1;
  margin-right: 30px;
  padding-right: 30px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn {
  padding: 16px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  display: flex;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn:not(:last-child) {
  margin-bottom: 22px;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn .remove-wrsvn {
  top: 15px;
  right: 16px;
  z-index: 3;
  line-height: 0;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn .remove-wrsvn {
    position: absolute;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure {
  line-height: 0;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure a {
  display: block;
  line-height: 0;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure img {
  width: 107px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure input {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  position: relative;
  padding: 0;
  border-radius: 5px;
  background: #D9D9D9;
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: all;
  background: var(--white);
  position: absolute;
  top: 8px;
  left: 6px;
  z-index: 3;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(/assets/icon/tick-white.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 10px auto;
  opacity: 0;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure input:checked {
  background: var(--primary);
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure input:checked::before {
  opacity: 1;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figure input:checked {
  background: var(--primary);
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption {
  flex: 1;
  padding-left: 34px;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption {
    padding-left: 0;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .title-tznlw, .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .fnznl {
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  max-width: 407px;
  margin-bottom: 18px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh {
  margin-bottom: 25px;
  display: flex;
  gap: 2rem;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .size-eoimy {
  width: -moz-fit-content;
  width: fit-content;
  background: #F1F1F1;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 8px 10px;
  --labelfontbefore: 14px;
  font-size: var(--labelfontbefore);
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .size-eoimy .prdct-size-glcjj {
  flex: 1;
  --arrow: 10px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .size-eoimy .prdct-size-glcjj .list {
  left: auto;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .size-eoimy .prdct-size-glcjj .list li {
  padding: 6px 15px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap {
  display: flex;
  align-items: center;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .count-val {
  font-size: 16px;
  width: 50px;
  border: 0;
  background: none;
  text-align: center;
  color: var(--text);
}
@media only screen and (max-width: 1200px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .count-val {
    font-size: 20px;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .count-val:focus {
  outline: none;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .minus-val, .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .plus-val {
  width: 30px;
  height: 30px;
  border: 1px solid var(--text);
  background: none;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
  color: var(--text);
}
@media only screen and (max-width: 1200px) {
  .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .minus-val, .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .plus-val {
    height: 35px;
    width: 35px;
    font-size: 20px;
  }
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .minus-val.disabled, .check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .prdct-vzmmh .val-wrap .plus-val.disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj li {
  display: inline-block;
  vertical-align: middle;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj li:not(:last-child) {
  margin-right: 15px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj .price-zpsgj {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj .price-zpsgj span {
  font-family: "Le Jeune Deck";
  font-size: 14px;
  line-height: 1;
  display: inline-block;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj .price-pefca {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--text);
  text-decoration: line-through;
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj .price-pefca span {
  display: inline-block;
  text-decoration: line-through;
  font-family: "Le Jeune Deck";
}
.check-out-main .check-out-secA-zbyqo .bag-dobyk .bag-product-wrsvn-wrap .bag-product-wrsvn figcaption .price-btm-zpsgj .discount-zpsgj {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--primary);
  font-weight: bold;
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw {
  padding-bottom: 60px;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw .tlt-vcfrm {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 14px;
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw .cupn-hjgn {
  display: flex;
  gap: 12px;
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw .cupn-hjgn input {
  flex: 1;
  border: none;
  border-bottom: 1px solid var(--text);
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw .cupn-hjgn input:focus {
  outline: none;
}
.check-out-main .check-out-secA-zbyqo .coupon-nvixw .invalid-coupn {
  color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 14px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap {
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 40px;
  margin-bottom: 28px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr {
  display: flex;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr:not(:last-child) {
  margin-bottom: 27px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figure {
  line-height: 0;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figure a {
  display: block;
  line-height: 0;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figure img {
  width: 64px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption {
  flex: 1;
  padding-left: 21px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .title-mfyg {
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  margin-bottom: 18px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq li {
  display: inline-block;
  vertical-align: middle;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq li:not(:last-child) {
  margin-right: 8px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq li.price-pefca {
  color: var(--text);
  text-decoration: line-through;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq .price-cyrq {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq .price-cyrq span {
  font-family: "Le Jeune Deck";
  font-size: 14px;
  line-height: 1;
  display: inline-block;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq .price-jpzi {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--text);
  text-decoration: line-through;
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq .price-jpzi span {
  display: inline-block;
  text-decoration: line-through;
  font-family: "Le Jeune Deck";
}
.check-out-main .check-out-secA-zbyqo .prd-dtl-adr-wrap .prd-dtl-adr figcaption .price-btm-cyrq .discount-cyrq {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--primary);
  font-weight: bold;
}
.check-out-main .check-out-secA-zbyqo .ttl-tkywa {
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
}
.check-out-main .check-out-secA-zbyqo .irmhhz .kmmdc {
  margin-bottom: 26px;
}
.check-out-main .check-out-secA-zbyqo .dvhws .txsmx {
  margin-bottom: 32px;
}
.check-out-main .check-out-secA-zbyqo .dvhws .nggtj-wrap {
  max-width: 460px;
  display: flex;
  gap: 26px;
}
.check-out-main .check-out-secA-zbyqo .dvhws .nggtj-wrap .chckbx-nggtj {
  flex: 1;
  background: #F3F3F3;
  padding: 28px 20px;
  border-radius: 5px;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .dvhws .nggtj-wrap .chckbx-nggtj p {
    flex: 1;
  }
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form {
  --item: 2;
  --gaptb: 25px;
  --borderbefore: var(--text);
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form .btn-grp {
  margin-top: 2rem;
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form .btn-grp .btn {
  --padding: 64px;
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form .billing-adddr-btn-wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form .billing-adddr-btn {
  color: var(--primary);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.check-out-main .check-out-secA-zbyqo .addr-hved-chc .no-addr-form-wrap .form .billing-adddr-btn path {
  fill: var(--primary);
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .fzamc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .fzamc {
    flex-direction: column;
    gap: 10px;
  }
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .fzamc .ttl-tkywa {
  flex: 1;
  padding-right: 1rem;
}
@media only screen and (max-width: 540px) {
  .check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .fzamc .ttl-tkywa {
    padding-right: 0;
  }
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col {
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 28px 16px;
  gap: 13px;
  position: relative;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col:not(:last-child) {
  margin-bottom: 21px;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .cola-fgsqw {
  line-height: 0;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .cola-fgsqw input[type=radio] {
  --size: 17px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  border: 1px solid var(--primary);
  border-radius: 50%;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  background: transparent;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .cola-fgsqw input[type=radio]:checked {
  background: var(--primary);
  outline-offset: -4px;
  outline: 2px solid var(--white);
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .colb-dtl-fwwz {
  flex: 1;
  color: var(--text);
  font-size: 14px;
  line-height: 18px;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .colb-dtl-fwwz .ahck-ttl {
  font-size: 16px;
  line-height: 19.68px;
  color: var(--black);
  margin-bottom: 20px;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .colb-dtl-fwwz .addr-erter {
  margin-bottom: 20px;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .colb-dtl-fwwz .mbl-wef span {
  color: var(--black);
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .btn-etp-eew {
  position: absolute;
  bottom: 26px;
  right: 20px;
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .btn-etp-eew .mbcw {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--primary);
}
.check-out-main .check-out-secA-zbyqo .savd-uwqbj-sec .savd-addr-col-wrap .savd-addr-col .btn-etp-eew .mbcw:not(:last-child) {
  margin-right: 20px;
}

.checkout-tbl-xiuh .ttl-tbl-bkfg {
  color: var(--black);
  margin-bottom: 16px;
}
.checkout-tbl-xiuh .pric-ing-gegc li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-tbl-xiuh .pric-ing-gegc li:not(:last-child) {
  margin-bottom: 14px;
}
.checkout-tbl-xiuh .pric-ing-gegc li * {
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
}
.checkout-tbl-xiuh .ttl-amnt-tbl {
  border-top: 1px solid #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;
  margin: 22px 0;
}
.checkout-tbl-xiuh .ttl-amnt-tbl .ttl-txt, .checkout-tbl-xiuh .ttl-amnt-tbl .ttl-prc-txt {
  color: var(--black);
}
.checkout-tbl-xiuh .checkbox-full {
  margin-top: 20px;
}/*# sourceMappingURL=checkout.css.map */